body {
    font-family: 'Space Grotesk', sans-serif;
}

section {
    height: 500px;
    background-color: white;
    border: solid black 1px;
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    height: 500px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between; /* research */
}

ul {
    display: flex; /* research */
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    /* width: 200px; */
    text-decoration: none;
}

h1 {
    font-size: 90px;
}

.hero_text {
    margin-left: 80px;
}

p{
    font-size: 30px;
    margin: 0;
}

.button {
    width: 150px; 
    height: 40px;
    border-radius: 50px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
}