body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {

    background-color: white;

}

.hero {
    width: 100vw;
    background-color: #1c1d25;
    color: white;
    font-size: 40px;

}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between; /* research */
}

ul {
    display: flex; /* research */
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    /* width: 200px; */
    text-decoration: none;
}

h1 {
    font-size: 60px;
    margin: 0;
}

h2 {
    font-size: 30px;
}

.hero_area {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

}

.hero_text {
    margin-bottom: 300px;
    margin-left: 40px;
}

p{
    display: flex;
    font-size: 25px;
    font-weight: 200;
    margin: 0;
}

.subtext {
    font-size: 15px;
    font-weight: 200;
    justify-content: center;
}

.button {
    width: 130px; 
    height: 40px;
    border-radius: 50px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #ef744b;
}

.button:active {
    background-color: #a9a9a9;
    color: #808080;
}

.socials {
    margin-bottom: 300px;
    margin-right: 25px;
}

.social {
    margin: 10px
}

.logo {
    height: 150px;
    margin: 30px;
}

.sub_section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.headshot {
    width: 200px;
    border-radius: 100px;
}

.headshot_container {
    display: flex;
    align-items: center;
}

.project_card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px grey;
    margin: 10px;
}

.project_container {
    display: flex;
    justify-content: space-around;
}

.project_section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}

.project_image {
    width: 250px;
    margin-top: 25px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project_link {
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
    color: white;
}

/*
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }
*/